{% extends 'base.html' %}

{% block head %}
<title>TennelHub|About</title>
{% endblock %}

{% block body %}
    <Br><br><br>
<main role="main" class="container">
  <div class="jumbotron">
    <h3>About TennerHub</h3>
    <p class="lead">TennerHub is an application web that can posts and see other members posts , modify and delete posts also  , a one posts from you can get 10000 view .  </p>
    </div>
</main>
    <main role="main" class="container">
  <div class="jumbotron">
    <h3>Is It Ready To Use ? </h3>
    <p class="lead">Unfortunately TennerHub still under update its not full to be an app lie wiki but it will be , theres a truble in login for users and we will fix it as soon as possible just be in touch . </p>
    </div>
</main>
     <main role="main" class="container">
  <div class="jumbotron">
    <h3>For whom ?</h3>
    <p class="lead">TennerHub , is for anyone who want to share this thought , for students , doctors , writers etc , it gives a full community to all people  </p>
    </div>
</main>
       <main role="main" class="container">
  <div class="jumbotron">
    <h3>What's The Update</h3>
    <p class="lead">The update in future will be a live communication , with a perfect security login , and with adding comments and react to the posts that you or your friends add   </p>
    </div>
</main>

{% endblock %}