{% extends 'base.html' %} {% block head %}
<title>TennerHub | Home</title>
{% endblock %} {% block body %}
<br><br>
<Br><br><br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome To Tenner<span style="color: #64bc5e">Hub</span>.pl</h1>
            <p>Tenner an application where you can upload delete and modify your ideas ,thoughts ,feelings , plans etc.. Also you can see and share other members posts at same time .<br> Enjoy Tenner with friend , family and classmates . And dont forget
                that one post may see it more than 100,000 poster</p>
            <hr>
            <p>In the large world you can be one of the famous poster . </p>

            <p>
                <p>Press View Posts to view as a guest otherwise join us to post</p>
                <a class="btn btn-success" href="/posts/ghost" role="button" title="go to guest view">View as guest &raquo;</a>
            </p>
        </div>
    </div>
</main>

{% endblock %}